.content {
    white-space: pre-wrap;
    white-space: pre-line;
}

body {
    background-color: #F0B67F;
}

a {
    /* color: black; */
    text-decoration: none;
}

.joke {
    margin: auto;
    margin-bottom: 40px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #FE5F55;
    border: solid 4px;
    color: #EEF5DB;
    border-radius: 5px;
}

.scroller {
    margin: auto;
    width: 50%;
    padding: 10px;
}

* {
    font-family: 'Inconsolata', monospace;
    color: #EEF5DB;
}

button {
    background-color: #153243;
    padding: 10px;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #153243;
}

li {
    float: left;
}

li.right {
    float: right;
}

.editable {
    border: rgb(182, 182, 182) solid;
    height: 30vw;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    background-color: #FE5F55;
}

.editable:focus {
	outline: none;
}

li a {
    display: block;
    /* color: #FE5F55; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.3s;
}

li a:hover {
    background-color: rgb(48, 48, 48);
    transform: scale(1.2);
}